<h2>The word is: <%= @question %> <br> </h2>
<h2>Your score is <%= session["score"] %> </h2>



<%= form_tag("answer", method: "get") do %>
  <%= radio_button_tag(:answer, "#{@four.first.id}")%><%= @four.first.definition %><br>
  <%= radio_button_tag(:answer, "#{@four.second.id}")%><%= @four.second.definition %><br>
  <%= radio_button_tag(:answer, "#{@four.third.id}")%><%= @four.third.definition %><br>
  <%= radio_button_tag(:answer, "#{@four.fourth.id}")%><%= @four.fourth.definition %> <br>
  <%= hidden_field_tag :orig,  "#{@four.first.id}" %>
  <%= submit_tag("Submit") %>
<% end %>
<br >
<%= link_to 'Back to Index', {:action => 'index'} %> <br>
