<% four = @vocabs.all.shuffle %>
<% four1 = four.take(4) %>

<h2>The word is: <%= four1.first.word %> <br> </h2>

<% new = four1.shuffle %>
<%= form_tag("answer", method: "get") do %>
  <%= radio_button_tag(:answer, "#{new.first.id}")%><%= new.first.definition %><br>
  <%= radio_button_tag(:answer, "#{new.second.id}")%><%= new.second.definition %><br>
  <%= radio_button_tag(:answer, "#{new.third.id}")%><%= new.third.definition %><br>
  <%= radio_button_tag(:answer, "#{new.fourth.id}")%><%= new.fourth.definition %> <br>
  <%= hidden_field_tag :orig,  "#{four1.first.id}" %>
  <%= submit_tag("Submit") %>
<% end %>
<br >
<%= link_to 'Back to Index', {:action => 'index'} %>
