<% #four = @vocabs.all.shuffle %>
<% four = @all.shuffle %>
<% four1 = four.take(4) %>

<h2>The word is: <%= four1.first.word %> <br> </h2>
<h2>Your score is <%=  @score %> </h2>

<% questions = four1.shuffle %>
<%= form_tag("answer", method: "get") do %>
  <%= radio_button_tag(:answer, "#{questions.first.id}")%><%= questions.first.definition %><br>
  <%= radio_button_tag(:answer, "#{questions.second.id}")%><%= questions.second.definition %><br>
  <%= radio_button_tag(:answer, "#{questions.third.id}")%><%= questions.third.definition %><br>
  <%= radio_button_tag(:answer, "#{questions.fourth.id}")%><%= questions.fourth.definition %> <br>
  <%= hidden_field_tag :orig,  "#{four1.first.id}" %>
  <%= submit_tag("Submit") %>
<% end %>
<br >
<%= link_to 'Back to Index', {:action => 'index'} %> <br>
