<h2>The word is: <%= @question %> <br> </h2>
<h2>Your score is <%= session["score"] %> </h2>


<% questions = @four.shuffle %>
<%= form_tag("answer", method: "get") do %>
  <%= radio_button_tag(:answer, "#{questions.first.id}")%><%= questions.first.definition %><br>
  <%= radio_button_tag(:answer, "#{questions.second.id}")%><%= questions.second.definition %><br>
  <%= radio_button_tag(:answer, "#{questions.third.id}")%><%= questions.third.definition %><br>
  <%= radio_button_tag(:answer, "#{questions.fourth.id}")%><%= questions.fourth.definition %> <br>
  <%= hidden_field_tag :orig,  "#{@four.first.id}" %>
  <%= submit_tag("Submit") %>
<% end %>
<br >
<%= link_to 'Back to Index', {:action => 'index'} %> <br>



<p>
  <%=session[:already_asked]%>
</p>
