<%= form_for @vocab do |f| %>
  <p>
    <%= f.label :word %><br>
    <%= f.text_field :word %>
  </p>
  <p>
    <%= f.label :definition %><br>
    <%= f.text_field :definition %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>
