<h1>All German Vocabulary</h1>
<h4><%= link_to 'Take the Quiz!', quiz_path %> </h4>

<% if logged_in? %>
<h4><%= link_to 'Add new word', new_vocab_path %> </h4>
<h4>Welcome back, <%= @current_user.name %>! </h4>
<h4>Goto your profile page: <%= link_to 'Profile page', user_path(@current_user.id) %></h4>
<% else %>
<h4><%= link_to 'Create your account', signup_users_path %> </h4>
<h4><%= link_to 'Login', login_path %> </h4>
<% end %>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th colspan="3"></th>
  </tr>

<% if logged_in? %>
  <% @vocabs.each do |vocab| %>
    <tr>
      <td><%= vocab.word %></td>
      <td><%= vocab.definition %></td>
      <td><%= link_to 'Show ', vocab_path(vocab) %></td>
      <td><%= link_to 'Edit', edit_vocab_path(vocab) %></td>
      <td><%= link_to 'Delete', vocab_path(vocab),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>

  <% else %>
  <% @vocabs.each do |vocab| %>
    <tr>
      <td><%= vocab.word %></td>
      <td><%= vocab.definition %></td>
    </tr>
  <% end %>
<% end %>
</table>
