<h2>Your score is <%= session[:score] %> </h2>
<h3><%= @questions_remaining %> questions left!</h3>
<%= link_to 'Back to Index', {:action => 'index'} %> <br>
<h2>The word is: <%= @question %> <br> </h2>
    <% answers = @four.shuffle %>
      <%= form_tag("answer", method: "get") do %>
        <%= radio_button_tag(:answer, "#{answers.first.id}")%><%= answers.first.definition %><br>
        <%= radio_button_tag(:answer, "#{answers.second.id}")%><%= answers.second.definition %><br>
        <%= radio_button_tag(:answer, "#{answers.third.id}")%><%= answers.third.definition %><br>
        <%= radio_button_tag(:answer, "#{answers.fourth.id}")%><%= answers.fourth.definition %> <br>
        <%= hidden_field_tag :orig,  "#{@four.first.id}" %>
        <%= submit_tag("Submit") %>
      <% end %>
