<h1>Edit your profile: <%= @current_user.name %></h1>

<%= form_for (@current_user) do |c| %>

  <p>
    <%= c.label :name %><br>
    <%= c.text_field :name %>
  </p>

  <p>
    <%= c.label :email %><br>
    <%= c.text_area :email %>
  </p>

  <p>
    <%= c.submit %>
  </p>

<% end %>

<%= link_to 'Back to index', vocabs_path %>
